<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fireBase Authentication</title>
    <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-auth-compat.js"></script>
  </head>
  <body>
    <form id="login-form">
      <div class="login-form">
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="enter your email"
          />
        </div>
        <br />
        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="enter your password"
          />
        </div>
        <br />
        <button type="button" id="login">Login</button>
        <br />
        <br />
        <div>OR</div>
      </div>
    </form>

    <br />
    <button id="google-signin">Sign In with Google</button>

    <p id="logout" style="display: none">
      User signed in: <span id="username"></span>
      <button>Logout</button>
    </p>

    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyDEMzXhSPafbJPabElyy8Lyva2yoiT2Vnc",
        authDomain: "amnilassignment.firebaseapp.com",
        projectId: "amnilassignment",
        storageBucket: "amnilassignment.appspot.com",
        messagingSenderId: "818104415325",
        appId: "1:818104415325:web:61982e53c3025fb27109b4",
        measurementId: "G-S3XKLT2T3F",
      };

      firebase.initializeApp(firebaseConfig);

      const googleSignInBtn = document.getElementById("google-signin");

      const loginForm = document.querySelector(".login-form");
      const loginBtn = document.getElementById("login");

      const logoutBtn = document.getElementById("logout");

      function updateLogoutUI(user) {
        const logoutElement = document.getElementById("logout");
        const usernameElement = document.getElementById("username");

        usernameElement.textContent = user.displayName;
        logoutElement.style.display = "block";
      }

      loginBtn.addEventListener("click", () => {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        firebase
          .auth()
          .signInWithEmailAndPassword(email, password)
          .then((userCredential) => {
            const user = userCredential.user;
            updateLogoutUI(user);
            user.getIdToken().then((idToken) => {
              console.log(`User signed in: ${user.displayName}`);

              fetch("http://localhost:5050/auth/login", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  token: idToken,
                }),
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log("Success:", data);
                })
                .catch((error) => {
                  console.error("Error:", error);
                });

              googleSignInBtn.style.display = "none";
              logoutBtn.style.display = "block";
              loginForm.style.display = "none";
            });
            console.log(`User signed in: ${user.displayName}`);
          })
          .catch((error) => {
            console.error(`Sign-in error: ${error.message}`);
          });
      });

      logoutBtn.addEventListener("click", () => {
        firebase
          .auth()
          .signOut()
          .then(() => {
            console.log("User signed out");

            logoutBtn.style.display = "none";
            googleSignInBtn.style.display = "block";
            loginForm.style.display = "block";
          })
          .catch((error) => {
            window.alert("Invalid email or password. Please try again.");
            console.error(`Sign-out error: ${error.message}`);
          });
      });

      googleSignInBtn.addEventListener("click", () => {
        const provider = new firebase.auth.GoogleAuthProvider();
        firebase
          .auth()
          .signInWithPopup(provider)
          .then((result) => {
            const user = result.user;
            updateLogoutUI(user);
            user.getIdToken().then((idToken) => {
              console.log(idToken);
              console.log(`User signed in: ${user.displayName}`);

              fetch("http://localhost:5050/auth/login", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  token: idToken,
                }),
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log("Success:", data);
                })
                .catch((error) => {
                  console.error("Error:", error);
                });

              googleSignInBtn.style.display = "none";
              loginForm.style.display = "none";
              logoutBtn.style.display = "block";
            });
          })
          .catch((error) => {
            console.error(`Sign-in error: ${error.message}`);
          });
      });
    </script>
  </body>
</html>
